
<h1> Modifier un utilisateur </h1>


<form [formGroup]="articleForm" (ngSubmit)="onUpdateArticle(articleForm.value)">

    <div>
      <label for="titre">
        Titre :
      </label>
      <input id="titre" type="text" formControlName="titre">
    </div>

    <div>
      <label for="contenu">
        Contenu :
      </label>
      <input id="contenu" type="text" formControlName="contenu">
    </div>

    <div>
      <label for="published">
        Published :
      </label>
      <input id="published" type="text" formControlName="published">
    </div>

    <button type="submit" class="btn btn-primary"> OK </button>

</form>
