
<div class="row mt-3">

  <div class="col-4">
      <app-menu-dashboard></app-menu-dashboard>
  </div>

  <div class="col-8">
      <h1> Bienvenue dans le back office ! </h1>
      <span> 📊📊📊📊📊📊📊📊📊📊📊📊 </span>

      <h2 class="table-header"> Nos statistiques : </h2>

          <div class="table-responsive">
            <table class="table table-info table-stripped table-bordered">
              <thead>
                <tr>
                  <th class="text-center"> Nombre d'articles </th>
                  <th class="text-center"> Nombre d'utilisateurs </th>
                  <th class="text-center"> Nombre de comments </th>
                  <th class="text-center"> Nombre de params </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"> {{ nbArticles }} </td>
                  <td class="text-center"> {{ nbUtilisateurs }} </td>
                  <td class="text-center"> {{ nbParametres }} </td>
                  <td class="text-center"> {{ nbCommentaires }}  </td>
                </tr>
              </tbody>
            </table>

          </div>

  </div>

</div>
