<h1> Ajouter un nouvel article </h1>

<form #f="ngForm" (ngSubmit)="onSubmitArticle(f)">

  <div class="form-group">
    <label> Titre : </label>
    <input type="textarea" ngModel name="" class="form-control">
  </div>

  <div class="form-group">
    <label> Contenu : </label>
    <input type="textarea" ngModel name="" class="form-control">
  </div>

  <div class="form-group">
  <label> Status : </label>
    <input type="email" ngModel name="" class="form-control">
  </div>

  <div class="form-group">
    <label> Password : </label>
    <input type="password" ngModel name="" class="form-control">
  </div>

  <div class="form-group">

  <label>role</label>
    <select  class="form-control" ngModel name="">
    <option value="admin">admin</option>
    <option value="redac">redac</option>
    <option value="user">user</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary"> OK </button>

</form>

